<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIRISDK_URL</key>
	<string>http://test.sdk.a******</string>
	<key>AIRISDK_PAYSTOREID</key>
	<string>appstore</string>
	<key>AIRISDK_SHOWDEBUGLOG</key>
	<true/>
	<key>AIRISDK_HSAPIKEY</key>
	<string>b26868695b3e20*****c20c2</string>
	<key>AIRISDK_HSDOMAINNAME</key>
	<string>yos*****ft.com</string>
	<key>AIRISDK_HSAPPID</key>
	<string>yostar_plat*****2981-ac99a****beef7</string>
</dict>
</plist>
